<div class="ui top attached teal message">
  <i class="info icon"></i> Ajout rapide de développeur
</div>
<div class="ui bottom attached segment">
  <form method="POST" action="/developer/add">
    <div class="ui action input">
      <input type="text" id="firstname" name="firstname" placeholder="firstname">
      <input type="text" id="lastname" name="lastname" placeholder="lastname">
      <div >
        <button class="ui button " type="submit">
          <i class="plus icon"></i>
        </button>
      </div>
    </div>
  </form>
</div>