<table class="ui single line table">
    <thead>
    <tr>
        <th>US</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#stories}}
    <tr>
        <td>
            {{name}}
        </td>
        <td>
            <div>
                <div class="ui action input">
                    <form method="POST" action="../story/{{id}}/action">
                        <select name="id_dev" class="ui selection dropdown" {{^devs}} disabled {{/devs}}>
                        {{#devs}}
                        <option value="{{id}}">
                            {{firstname}} {{lastname}}
                        </option>
                        {{/devs}}
                        {{^devs}}
                        <option selected value="">
                            Pas de dev
                        </option>
                        {{/devs}}

                        </select>
                        <button {{^devs}} disabled {{/devs}} name="story-action" value="affect" class="ui button " type="submit">
                            <i class="plus icon"></i>
                        </button>
                        <button name="story-action" value="remove" class="ui red button " type="submit">
                            <i class="delete icon"></i>
                        </button>
                    </form>
                </div>
            </div>

        </td>
    </tr>
    {{/stories}}
    {{^stories}}
    <tr>
        <td colspan="3">

            <div class="ui icon positive message">
                <i class="info circle icon"></i>
                <div class="content">
                    <div class="header">
                        pas de développeur
                    </div>
                    <p>Il n'y a pas de développeur dans la base de données.</p>
                </div>
            </div>

        </td>
    </tr>
    {{/stories}}
    </tbody>
</table>